// Product Page

a {
    &:link, &:visited {
        color: #b6d3ed;
        font-weight: bold;
    }
}

.innerbanner-section {
    background: $ps-main;
    min-height: 55vh!important;
}

h3 {
    &.product-crumb {
        nav {
            &.woocommerce-breadcrumb {
                &:not(a) {
                    color: $ps-secondarylight2;
                }
            }
        }
    }
    &.the-shoptitle {
        border: none!important;
    }
}

.single-product {
    .product {
        padding-top: 3em;
    }
}

.woocommerce-Price-amount {
    font-weight: bold;
}

.woocommerce-product-gallery__trigger,
.sku_wrapper {
    display: none!important;
}

.woocommerce-product-gallery__wrapper {
    background-color: #fff;
    padding: 3em!important;
    box-sizing: border-box;
    border: solid thin #eee;
}

.single_add_to_cart_button.button.alt,
a.button.add_to_cart_button,
.woocommerce_checkout_place_order,
.button {
    background: $ps-main!important;
    text-transform: uppercase;
    border-radius: 0!important;
    color: #fff!important;
    &:hover {
        color: #fff;
    }
}

.cat-label-group {
    display: none;
}

.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    height: 36px;
    border-radius: 0
}

.woocommerce-tabs {
    float: right;
    width: 48%;
    clear: none!important;
    padding-top: 5%;
}

.summary.entry-summary {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0px;
        height: 4px;
        width: 100%;
        background-color: $ps-secondarylight2;
    }

}

.square-content {
    min-height: auto!important;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        transition: all ease 150ms;
    }
}

.woocommerce span.onsale {
    background: #f06c2f;
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 60px;
    top: 2em;
}

.square-box{
    border: solid thin #eee;
    height: 0;
    padding-bottom: 80%;
    position: relative;
    margin-bottom: 0.5em;
    &:hover {
        + h3 a {
            color: $ps-orange;
        }
        > .square-content {
            > a {
                > img {
                    width: 75%!important;
                }
            }
        }
    }
}

.widget {
    background: #eee;
    padding: 1.5em;
}

.woocommerce-tabs .panel h2:first-of-type {
    display: none!important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none!important;
    margin-right: 0.5em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-radius: 0;
    &.active {
            background: $ps-main!important;
            color: #fff;
    }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    display: none!important;
}

.woocommerce nav.woocommerce-breadcrumb a {
    &:hover{
        color: #b6d3ed!important;
        text-decoration: none!important;
    }
}

// checkout

.woocommerce .col2-set, .woocommerce-page .col2-set {
    display: flex;
}

.woocommerce-info {
    display: flex!important;
    margin-top: 3em;
    // color: #fff!important;
    a {
        color: $ps-section;
    }
    &::first-of-type {
        margin-top: 3em;
        margin-bottom: -3em;
    }
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background: #eee!important;
}

.woocommerce form .form-row {
    width: 100%;
    display: grid;
}
.woocommerce form .form-row .required {
    color: $ps-orange;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border-radius: 0;
    background: #eee;
    border: none;
    padding: 15px;
}

.place-order {
    margin-bottom: 3em;
}

// .woocommerce form .form-row label {
label {
    padding-right: 10px;
    margin-bottom: 0;
}

#order_review {
    margin-bottom: 3em;
}

#order_review_heading {
    padding-top: 3em!important;
}

// Cart

.woocommerce table.shop_table {
    margin-top: 3em;
}

.wc-proceed-to-checkout a.checkout-button {
    padding: 1em 0!important;
}

.woocommerce .visual-composer .container ul.products li.product {
    background: white!important;
    border: none!important;
}

.woocommerce ul.products li.product a img {
    margin: 0 auto!important;
    width: 70%;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
    font-weight: 700!important;
}

.woof_submit_search_form_container > button {
    float: left!important;
    margin-top: 1em!important;
}

.woocommerce div.product div.images .flex-control-thumbs {
    width: 100%;
}

.variations tr {
    display: flex;
    td {
        padding: 0!important;
    }
}
