// Playsafe Systems
$ps-main: #45637e;
$ps-mainlight: #5c7387;
$ps-secondary: #5981a4;
$ps-secondary2: #3d5d7a;
$ps-secondarylight: #85a7c5;
$ps-secondarylight2: #b6d3ed;
$ps-secondarydarker: #415f7a;
$ps-section: #36546f;
$ps-darkgrey: #727272;
$ps-lightgrey: #ecedf1;
$ps-grey: #e7e7e7;
$ps-orange: #f06c2f;
