{
  "name": "playsafe",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/js/theme/script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/script.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/js/aos.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "js",
      "src/scss",
      "src",
      "src/js",
      "src/js/theme",
      "assets/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/scss/style.scss",
      "imports": [
        "src/scss/underscores/style.scss",
        "src/scss/underscores/woocommerce.scss",
        "src/scss/bootstrap/bootstrap.scss",
        "src/scss/font-awesome/font-awesome.scss",
        "src/scss/slick/slick.scss",
        "src/scss/theme/theme.scss",
        "src/scss/underscores/variables-site/_variables-site.scss",
        "src/scss/underscores/mixins/_mixins-master.scss",
        "src/scss/underscores/_normalize.scss",
        "src/scss/underscores/typography/_typography.scss",
        "src/scss/underscores/elements/_elements.scss",
        "src/scss/underscores/forms/_forms.scss",
        "src/scss/underscores/navigation/_navigation.scss",
        "src/scss/underscores/modules/_accessibility.scss",
        "src/scss/underscores/modules/_alignments.scss",
        "src/scss/underscores/modules/_clearings.scss",
        "src/scss/underscores/site/secondary/_widgets.scss",
        "src/scss/underscores/site/_site.scss",
        "src/scss/underscores/modules/_infinite-scroll.scss",
        "src/scss/underscores/media/_media.scss",
        "src/scss/underscores/shop/_tables.scss",
        "src/scss/underscores/shop/_products.scss",
        "src/scss/underscores/shop/_single-product.scss",
        "src/scss/underscores/shop/_checkout.scss",
        "src/scss/underscores/shop/_components.scss",
        "src/scss/underscores/shop/_widgets.scss",
        "src/scss/bootstrap/_functions.scss",
        "src/scss/bootstrap/_variables.scss",
        "src/scss/bootstrap/_mixins.scss",
        "src/scss/bootstrap/_root.scss",
        "src/scss/bootstrap/_reboot.scss",
        "src/scss/bootstrap/_type.scss",
        "src/scss/bootstrap/_images.scss",
        "src/scss/bootstrap/_code.scss",
        "src/scss/bootstrap/_grid.scss",
        "src/scss/bootstrap/_tables.scss",
        "src/scss/bootstrap/_forms.scss",
        "src/scss/bootstrap/_buttons.scss",
        "src/scss/bootstrap/_transitions.scss",
        "src/scss/bootstrap/_dropdown.scss",
        "src/scss/bootstrap/_button-group.scss",
        "src/scss/bootstrap/_input-group.scss",
        "src/scss/bootstrap/_custom-forms.scss",
        "src/scss/bootstrap/_nav.scss",
        "src/scss/bootstrap/_navbar.scss",
        "src/scss/bootstrap/_card.scss",
        "src/scss/bootstrap/_breadcrumb.scss",
        "src/scss/bootstrap/_pagination.scss",
        "src/scss/bootstrap/_badge.scss",
        "src/scss/bootstrap/_jumbotron.scss",
        "src/scss/bootstrap/_alert.scss",
        "src/scss/bootstrap/_progress.scss",
        "src/scss/bootstrap/_media.scss",
        "src/scss/bootstrap/_list-group.scss",
        "src/scss/bootstrap/_close.scss",
        "src/scss/bootstrap/_modal.scss",
        "src/scss/bootstrap/_tooltip.scss",
        "src/scss/bootstrap/_popover.scss",
        "src/scss/bootstrap/_carousel.scss",
        "src/scss/bootstrap/_utilities.scss",
        "src/scss/bootstrap/_print.scss",
        "src/scss/font-awesome/_variables.scss",
        "src/scss/font-awesome/_mixins.scss",
        "src/scss/font-awesome/_path.scss",
        "src/scss/font-awesome/_core.scss",
        "src/scss/font-awesome/_larger.scss",
        "src/scss/font-awesome/_fixed-width.scss",
        "src/scss/font-awesome/_list.scss",
        "src/scss/font-awesome/_bordered-pulled.scss",
        "src/scss/font-awesome/_animated.scss",
        "src/scss/font-awesome/_rotated-flipped.scss",
        "src/scss/font-awesome/_stacked.scss",
        "src/scss/font-awesome/_icons.scss",
        "src/scss/font-awesome/_screen-reader.scss",
        "src/scss/theme/_vars.scss",
        "src/scss/theme/_fonts.scss",
        "src/scss/theme/_style.scss",
        "src/scss/underscores/variables-site/_colors.scss",
        "src/scss/underscores/variables-site/_typography.scss",
        "src/scss/underscores/variables-site/_structure.scss",
        "src/scss/underscores/variables-site/_columns.scss",
        "src/scss/underscores/typography/_headings.scss",
        "src/scss/underscores/typography/_copy.scss",
        "src/scss/underscores/elements/_lists.scss",
        "src/scss/underscores/elements/_tables.scss",
        "src/scss/underscores/forms/_buttons.scss",
        "src/scss/underscores/forms/_fields.scss",
        "src/scss/underscores/navigation/_links.scss",
        "src/scss/underscores/navigation/_menus.scss",
        "src/scss/underscores/layout/_content-sidebar.scss",
        "src/scss/underscores/layout/_sidebar-content.scss",
        "src/scss/underscores/site/primary/_posts-and-pages.scss",
        "src/scss/underscores/site/primary/_comments.scss",
        "src/scss/underscores/media/_captions.scss",
        "src/scss/underscores/media/_galleries.scss",
        "src/scss/bootstrap/mixins/_breakpoints.scss",
        "src/scss/bootstrap/mixins/_hover.scss",
        "src/scss/bootstrap/mixins/_image.scss",
        "src/scss/bootstrap/mixins/_badge.scss",
        "src/scss/bootstrap/mixins/_resize.scss",
        "src/scss/bootstrap/mixins/_screen-reader.scss",
        "src/scss/bootstrap/mixins/_size.scss",
        "src/scss/bootstrap/mixins/_reset-text.scss",
        "src/scss/bootstrap/mixins/_text-emphasis.scss",
        "src/scss/bootstrap/mixins/_text-hide.scss",
        "src/scss/bootstrap/mixins/_text-truncate.scss",
        "src/scss/bootstrap/mixins/_visibility.scss",
        "src/scss/bootstrap/mixins/_alert.scss",
        "src/scss/bootstrap/mixins/_buttons.scss",
        "src/scss/bootstrap/mixins/_caret.scss",
        "src/scss/bootstrap/mixins/_pagination.scss",
        "src/scss/bootstrap/mixins/_lists.scss",
        "src/scss/bootstrap/mixins/_list-group.scss",
        "src/scss/bootstrap/mixins/_nav-divider.scss",
        "src/scss/bootstrap/mixins/_forms.scss",
        "src/scss/bootstrap/mixins/_table-row.scss",
        "src/scss/bootstrap/mixins/_background-variant.scss",
        "src/scss/bootstrap/mixins/_border-radius.scss",
        "src/scss/bootstrap/mixins/_box-shadow.scss",
        "src/scss/bootstrap/mixins/_gradients.scss",
        "src/scss/bootstrap/mixins/_transition.scss",
        "src/scss/bootstrap/mixins/_clearfix.scss",
        "src/scss/bootstrap/mixins/_grid-framework.scss",
        "src/scss/bootstrap/mixins/_grid.scss",
        "src/scss/bootstrap/mixins/_float.scss",
        "src/scss/bootstrap/utilities/_align.scss",
        "src/scss/bootstrap/utilities/_background.scss",
        "src/scss/bootstrap/utilities/_borders.scss",
        "src/scss/bootstrap/utilities/_clearfix.scss",
        "src/scss/bootstrap/utilities/_display.scss",
        "src/scss/bootstrap/utilities/_embed.scss",
        "src/scss/bootstrap/utilities/_flex.scss",
        "src/scss/bootstrap/utilities/_float.scss",
        "src/scss/bootstrap/utilities/_position.scss",
        "src/scss/bootstrap/utilities/_screenreaders.scss",
        "src/scss/bootstrap/utilities/_shadows.scss",
        "src/scss/bootstrap/utilities/_sizing.scss",
        "src/scss/bootstrap/utilities/_spacing.scss",
        "src/scss/bootstrap/utilities/_text.scss",
        "src/scss/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "src/js/theme/script.js",
      "imports": [
        "src/js/theme/googlemaps.js"
      ]
    },
    {
      "path": "src/scss/bootstrap/bootstrap-grid.scss",
      "imports": [
        "src/scss/bootstrap/_functions.scss",
        "src/scss/bootstrap/_variables.scss",
        "src/scss/bootstrap/mixins/_breakpoints.scss",
        "src/scss/bootstrap/mixins/_grid-framework.scss",
        "src/scss/bootstrap/mixins/_grid.scss",
        "src/scss/bootstrap/_grid.scss",
        "src/scss/bootstrap/utilities/_display.scss",
        "src/scss/bootstrap/utilities/_flex.scss"
      ]
    },
    {
      "path": "src/scss/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "src/scss/bootstrap/_functions.scss",
        "src/scss/bootstrap/_variables.scss",
        "src/scss/bootstrap/_mixins.scss",
        "src/scss/bootstrap/_reboot.scss",
        "src/scss/bootstrap/mixins/_breakpoints.scss",
        "src/scss/bootstrap/mixins/_hover.scss",
        "src/scss/bootstrap/mixins/_image.scss",
        "src/scss/bootstrap/mixins/_badge.scss",
        "src/scss/bootstrap/mixins/_resize.scss",
        "src/scss/bootstrap/mixins/_screen-reader.scss",
        "src/scss/bootstrap/mixins/_size.scss",
        "src/scss/bootstrap/mixins/_reset-text.scss",
        "src/scss/bootstrap/mixins/_text-emphasis.scss",
        "src/scss/bootstrap/mixins/_text-hide.scss",
        "src/scss/bootstrap/mixins/_text-truncate.scss",
        "src/scss/bootstrap/mixins/_visibility.scss",
        "src/scss/bootstrap/mixins/_alert.scss",
        "src/scss/bootstrap/mixins/_buttons.scss",
        "src/scss/bootstrap/mixins/_caret.scss",
        "src/scss/bootstrap/mixins/_pagination.scss",
        "src/scss/bootstrap/mixins/_lists.scss",
        "src/scss/bootstrap/mixins/_list-group.scss",
        "src/scss/bootstrap/mixins/_nav-divider.scss",
        "src/scss/bootstrap/mixins/_forms.scss",
        "src/scss/bootstrap/mixins/_table-row.scss",
        "src/scss/bootstrap/mixins/_background-variant.scss",
        "src/scss/bootstrap/mixins/_border-radius.scss",
        "src/scss/bootstrap/mixins/_box-shadow.scss",
        "src/scss/bootstrap/mixins/_gradients.scss",
        "src/scss/bootstrap/mixins/_transition.scss",
        "src/scss/bootstrap/mixins/_clearfix.scss",
        "src/scss/bootstrap/mixins/_grid-framework.scss",
        "src/scss/bootstrap/mixins/_grid.scss",
        "src/scss/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "src/scss/bootstrap/bootstrap.scss",
      "imports": [
        "src/scss/bootstrap/_functions.scss",
        "src/scss/bootstrap/_variables.scss",
        "src/scss/bootstrap/_mixins.scss",
        "src/scss/bootstrap/_root.scss",
        "src/scss/bootstrap/_reboot.scss",
        "src/scss/bootstrap/_type.scss",
        "src/scss/bootstrap/_images.scss",
        "src/scss/bootstrap/_code.scss",
        "src/scss/bootstrap/_grid.scss",
        "src/scss/bootstrap/_tables.scss",
        "src/scss/bootstrap/_forms.scss",
        "src/scss/bootstrap/_buttons.scss",
        "src/scss/bootstrap/_transitions.scss",
        "src/scss/bootstrap/_dropdown.scss",
        "src/scss/bootstrap/_button-group.scss",
        "src/scss/bootstrap/_input-group.scss",
        "src/scss/bootstrap/_custom-forms.scss",
        "src/scss/bootstrap/_nav.scss",
        "src/scss/bootstrap/_navbar.scss",
        "src/scss/bootstrap/_card.scss",
        "src/scss/bootstrap/_breadcrumb.scss",
        "src/scss/bootstrap/_pagination.scss",
        "src/scss/bootstrap/_badge.scss",
        "src/scss/bootstrap/_jumbotron.scss",
        "src/scss/bootstrap/_alert.scss",
        "src/scss/bootstrap/_progress.scss",
        "src/scss/bootstrap/_media.scss",
        "src/scss/bootstrap/_list-group.scss",
        "src/scss/bootstrap/_close.scss",
        "src/scss/bootstrap/_modal.scss",
        "src/scss/bootstrap/_tooltip.scss",
        "src/scss/bootstrap/_popover.scss",
        "src/scss/bootstrap/_carousel.scss",
        "src/scss/bootstrap/_utilities.scss",
        "src/scss/bootstrap/_print.scss",
        "src/scss/bootstrap/mixins/_breakpoints.scss",
        "src/scss/bootstrap/mixins/_hover.scss",
        "src/scss/bootstrap/mixins/_image.scss",
        "src/scss/bootstrap/mixins/_badge.scss",
        "src/scss/bootstrap/mixins/_resize.scss",
        "src/scss/bootstrap/mixins/_screen-reader.scss",
        "src/scss/bootstrap/mixins/_size.scss",
        "src/scss/bootstrap/mixins/_reset-text.scss",
        "src/scss/bootstrap/mixins/_text-emphasis.scss",
        "src/scss/bootstrap/mixins/_text-hide.scss",
        "src/scss/bootstrap/mixins/_text-truncate.scss",
        "src/scss/bootstrap/mixins/_visibility.scss",
        "src/scss/bootstrap/mixins/_alert.scss",
        "src/scss/bootstrap/mixins/_buttons.scss",
        "src/scss/bootstrap/mixins/_caret.scss",
        "src/scss/bootstrap/mixins/_pagination.scss",
        "src/scss/bootstrap/mixins/_lists.scss",
        "src/scss/bootstrap/mixins/_list-group.scss",
        "src/scss/bootstrap/mixins/_nav-divider.scss",
        "src/scss/bootstrap/mixins/_forms.scss",
        "src/scss/bootstrap/mixins/_table-row.scss",
        "src/scss/bootstrap/mixins/_background-variant.scss",
        "src/scss/bootstrap/mixins/_border-radius.scss",
        "src/scss/bootstrap/mixins/_box-shadow.scss",
        "src/scss/bootstrap/mixins/_gradients.scss",
        "src/scss/bootstrap/mixins/_transition.scss",
        "src/scss/bootstrap/mixins/_clearfix.scss",
        "src/scss/bootstrap/mixins/_grid-framework.scss",
        "src/scss/bootstrap/mixins/_grid.scss",
        "src/scss/bootstrap/mixins/_float.scss",
        "src/scss/bootstrap/utilities/_align.scss",
        "src/scss/bootstrap/utilities/_background.scss",
        "src/scss/bootstrap/utilities/_borders.scss",
        "src/scss/bootstrap/utilities/_clearfix.scss",
        "src/scss/bootstrap/utilities/_display.scss",
        "src/scss/bootstrap/utilities/_embed.scss",
        "src/scss/bootstrap/utilities/_flex.scss",
        "src/scss/bootstrap/utilities/_float.scss",
        "src/scss/bootstrap/utilities/_position.scss",
        "src/scss/bootstrap/utilities/_screenreaders.scss",
        "src/scss/bootstrap/utilities/_shadows.scss",
        "src/scss/bootstrap/utilities/_sizing.scss",
        "src/scss/bootstrap/utilities/_spacing.scss",
        "src/scss/bootstrap/utilities/_text.scss",
        "src/scss/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "src/scss/bootstrap/_mixins.scss",
      "imports": [
        "src/scss/bootstrap/mixins/_breakpoints.scss",
        "src/scss/bootstrap/mixins/_hover.scss",
        "src/scss/bootstrap/mixins/_image.scss",
        "src/scss/bootstrap/mixins/_badge.scss",
        "src/scss/bootstrap/mixins/_resize.scss",
        "src/scss/bootstrap/mixins/_screen-reader.scss",
        "src/scss/bootstrap/mixins/_size.scss",
        "src/scss/bootstrap/mixins/_reset-text.scss",
        "src/scss/bootstrap/mixins/_text-emphasis.scss",
        "src/scss/bootstrap/mixins/_text-hide.scss",
        "src/scss/bootstrap/mixins/_text-truncate.scss",
        "src/scss/bootstrap/mixins/_visibility.scss",
        "src/scss/bootstrap/mixins/_alert.scss",
        "src/scss/bootstrap/mixins/_buttons.scss",
        "src/scss/bootstrap/mixins/_caret.scss",
        "src/scss/bootstrap/mixins/_pagination.scss",
        "src/scss/bootstrap/mixins/_lists.scss",
        "src/scss/bootstrap/mixins/_list-group.scss",
        "src/scss/bootstrap/mixins/_nav-divider.scss",
        "src/scss/bootstrap/mixins/_forms.scss",
        "src/scss/bootstrap/mixins/_table-row.scss",
        "src/scss/bootstrap/mixins/_background-variant.scss",
        "src/scss/bootstrap/mixins/_border-radius.scss",
        "src/scss/bootstrap/mixins/_box-shadow.scss",
        "src/scss/bootstrap/mixins/_gradients.scss",
        "src/scss/bootstrap/mixins/_transition.scss",
        "src/scss/bootstrap/mixins/_clearfix.scss",
        "src/scss/bootstrap/mixins/_grid-framework.scss",
        "src/scss/bootstrap/mixins/_grid.scss",
        "src/scss/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "src/scss/bootstrap/_utilities.scss",
      "imports": [
        "src/scss/bootstrap/utilities/_align.scss",
        "src/scss/bootstrap/utilities/_background.scss",
        "src/scss/bootstrap/utilities/_borders.scss",
        "src/scss/bootstrap/utilities/_clearfix.scss",
        "src/scss/bootstrap/utilities/_display.scss",
        "src/scss/bootstrap/utilities/_embed.scss",
        "src/scss/bootstrap/utilities/_flex.scss",
        "src/scss/bootstrap/utilities/_float.scss",
        "src/scss/bootstrap/utilities/_position.scss",
        "src/scss/bootstrap/utilities/_screenreaders.scss",
        "src/scss/bootstrap/utilities/_shadows.scss",
        "src/scss/bootstrap/utilities/_sizing.scss",
        "src/scss/bootstrap/utilities/_spacing.scss",
        "src/scss/bootstrap/utilities/_text.scss",
        "src/scss/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "src/scss/font-awesome/font-awesome.scss",
      "imports": [
        "src/scss/font-awesome/_variables.scss",
        "src/scss/font-awesome/_mixins.scss",
        "src/scss/font-awesome/_path.scss",
        "src/scss/font-awesome/_core.scss",
        "src/scss/font-awesome/_larger.scss",
        "src/scss/font-awesome/_fixed-width.scss",
        "src/scss/font-awesome/_list.scss",
        "src/scss/font-awesome/_bordered-pulled.scss",
        "src/scss/font-awesome/_animated.scss",
        "src/scss/font-awesome/_rotated-flipped.scss",
        "src/scss/font-awesome/_stacked.scss",
        "src/scss/font-awesome/_icons.scss",
        "src/scss/font-awesome/_screen-reader.scss"
      ]
    },
    {
      "path": "src/scss/theme/theme.scss",
      "imports": [
        "src/scss/theme/_vars.scss",
        "src/scss/theme/_fonts.scss",
        "src/scss/theme/_style.scss"
      ]
    },
    {
      "path": "src/scss/underscores/style.scss",
      "imports": [
        "src/scss/underscores/variables-site/_variables-site.scss",
        "src/scss/underscores/mixins/_mixins-master.scss",
        "src/scss/underscores/_normalize.scss",
        "src/scss/underscores/typography/_typography.scss",
        "src/scss/underscores/elements/_elements.scss",
        "src/scss/underscores/forms/_forms.scss",
        "src/scss/underscores/navigation/_navigation.scss",
        "src/scss/underscores/modules/_accessibility.scss",
        "src/scss/underscores/modules/_alignments.scss",
        "src/scss/underscores/modules/_clearings.scss",
        "src/scss/underscores/site/secondary/_widgets.scss",
        "src/scss/underscores/site/_site.scss",
        "src/scss/underscores/modules/_infinite-scroll.scss",
        "src/scss/underscores/media/_media.scss",
        "src/scss/underscores/variables-site/_colors.scss",
        "src/scss/underscores/variables-site/_typography.scss",
        "src/scss/underscores/variables-site/_structure.scss",
        "src/scss/underscores/variables-site/_columns.scss",
        "src/scss/underscores/typography/_headings.scss",
        "src/scss/underscores/typography/_copy.scss",
        "src/scss/underscores/elements/_lists.scss",
        "src/scss/underscores/elements/_tables.scss",
        "src/scss/underscores/forms/_buttons.scss",
        "src/scss/underscores/forms/_fields.scss",
        "src/scss/underscores/navigation/_links.scss",
        "src/scss/underscores/navigation/_menus.scss",
        "src/scss/underscores/layout/_content-sidebar.scss",
        "src/scss/underscores/layout/_sidebar-content.scss",
        "src/scss/underscores/site/primary/_posts-and-pages.scss",
        "src/scss/underscores/site/primary/_comments.scss",
        "src/scss/underscores/media/_captions.scss",
        "src/scss/underscores/media/_galleries.scss"
      ]
    },
    {
      "path": "src/scss/underscores/woocommerce.scss",
      "imports": [
        "src/scss/underscores/variables-site/_variables-site.scss",
        "src/scss/underscores/mixins/_mixins-master.scss",
        "src/scss/underscores/shop/_tables.scss",
        "src/scss/underscores/shop/_products.scss",
        "src/scss/underscores/shop/_single-product.scss",
        "src/scss/underscores/shop/_checkout.scss",
        "src/scss/underscores/shop/_components.scss",
        "src/scss/underscores/shop/_widgets.scss",
        "src/scss/underscores/variables-site/_colors.scss",
        "src/scss/underscores/variables-site/_typography.scss",
        "src/scss/underscores/variables-site/_structure.scss",
        "src/scss/underscores/variables-site/_columns.scss"
      ]
    },
    {
      "path": "src/scss/underscores/elements/_elements.scss",
      "imports": [
        "src/scss/underscores/elements/_lists.scss",
        "src/scss/underscores/elements/_tables.scss"
      ]
    },
    {
      "path": "src/scss/underscores/forms/_forms.scss",
      "imports": [
        "src/scss/underscores/forms/_buttons.scss",
        "src/scss/underscores/forms/_fields.scss"
      ]
    },
    {
      "path": "src/scss/underscores/media/_media.scss",
      "imports": [
        "src/scss/underscores/media/_captions.scss",
        "src/scss/underscores/media/_galleries.scss"
      ]
    },
    {
      "path": "src/scss/underscores/navigation/_navigation.scss",
      "imports": [
        "src/scss/underscores/navigation/_links.scss",
        "src/scss/underscores/navigation/_menus.scss"
      ]
    },
    {
      "path": "src/scss/underscores/site/_site.scss",
      "imports": [
        "src/scss/underscores/layout/_content-sidebar.scss",
        "src/scss/underscores/layout/_sidebar-content.scss",
        "src/scss/underscores/site/primary/_posts-and-pages.scss",
        "src/scss/underscores/site/primary/_comments.scss"
      ]
    },
    {
      "path": "src/scss/underscores/typography/_typography.scss",
      "imports": [
        "src/scss/underscores/typography/_headings.scss",
        "src/scss/underscores/typography/_copy.scss"
      ]
    },
    {
      "path": "src/scss/underscores/variables-site/_variables-site.scss",
      "imports": [
        "src/scss/underscores/variables-site/_colors.scss",
        "src/scss/underscores/variables-site/_typography.scss",
        "src/scss/underscores/variables-site/_structure.scss",
        "src/scss/underscores/variables-site/_columns.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 5757,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://playsafe.lo"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}